<h2>Character list</h2>
<div class="char-list">
    <form name="form" ng-submit="name = $ctrl.create(name)">
        <input ng-model="name">
        <button type="submit">Create</button>
    </form>
    <table>
        <tr>
            <td>Name</td>
            <td>Status</td>
            <td>Experience</td>
            <td>Position</td>
            <td>Actions</td>
        </tr>
        <tr>
            <td colspan="4" ng-if="$ctrl.loading">
                <div class="loader">Loading...</div>
            </td>
        </tr>
        <tr ng-repeat="char in $ctrl.chars"  ng-hide="$ctrl.loading">
            <td><a ui-sref="app.restricted.game(char)" ui-sref-opts="{reload: true}">{{char.name}}</a></td>
            <td>{{char.status}}</td>
            <td>{{char.experience}}</td>
            <td>{{char.x}}, {{char.y}}</td>
            <td>
                <a href ng-click="$ctrl.remove(char)">Remove</a>
            </td>
        </tr>
    </table>
</div>
