<form name="registerForm" ng-submit="$ctrl.submit($ctrl.form)">
    <div>
        Username:
        <input type="text" ng-model="$ctrl.form.username" required>
    </div>
    <div>
        Email:
        <input type="email" ng-model="$ctrl.form.email" required>
    </div>
    <div>
        Password:
        <input type="password" ng-model="$ctrl.form.plainPassword.first" required>
    </div>
    <div>
        Re-password
        <input type="password" ng-model="$ctrl.form.plainPassword.second" required>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

{{$ctrl.errors}}
