<form name="loginForm" ng-submit="$ctrl.submit($ctrl.form)">
    Username:
    <input type="text" ng-model="$ctrl.form.username">
    Password:
    <input type="password" ng-model="$ctrl.form.password">
    <button type="submit">Sign In</button>
</form>
