game {
    display: block;
}

game-field {
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    background: #f9e8d8;
}

game-object {
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 5px;
}

game-object.character {
    background: cornflowerblue;
    z-index: 100;
}

game-object.npc {
    background: red;
}

game-object.dead {
    background: lightgrey;
}

game-object.character::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    left: -25px;
    top: -25px;
    border-radius: 25px;
    border: lightgrey solid 1px;
    background: transparent;
 }
