<div>
    <div class="display">
        Name: <b>{{$ctrl.game.character.name}}</b>
        Exp: <b>{{$ctrl.game.character.experience}}</b>
        Status: <b>{{$ctrl.game.character.status}}</b>
    </div>
    <div>
        <a ui-sref="app.restricted.char">&laquo; Back</a>
    </div>
    <div ng-if="$ctrl.loading">Loading</div>
    <game-field ng-if="!$ctrl.loading">
        <game-object class="character"
                     model="$ctrl.game.character"
                     ng-class="$ctrl.game.character.status"
        ></game-object>
        <game-object class="npc"
                     ng-repeat="npc in $ctrl.game.npc"
                     model="npc"
                     ng-class="npc.status"
        ></game-object>
    </game-field>
    Arrow keys are for movement.
</div>
