/* styles in src/style directory are applied to the whole page */
body {
  background: #fefefe;
  color: #555;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
